<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css\master.css"> -->
    <title>Blackgram</title>
  </head>
  <body>
    <div style="margin-bottom:40px;">
      <div class="container" >
      <nav class="navbar navbar-expand-lg navbar-light   justify-content-between"  >
        <a class="navbar-brand" style="font-size:30px"  href="#">CULTIVO</a>
        <form class="form-inline">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
         
    </form>
      </nav>
    </div>
    </div>


<div style="padding:10px 40px 40px 10px">
  <table class="table table-striped"  >
      <thead>
        <tr>
          <th>Nitrogen(N)</th>
          <th>Phosphorus(P)</th>
          <th>Potassium(K)</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>pH</th>
          <th>Rainfall</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nitrogen}}</td>
          <td>{{phosphorus}}</td>
          <td>{{Potassium}}</td>
          <td>{{temperature}}</td>
          <td>{{humidity}}</td>
          <td>{{pH}}</td>
          <td>{{rainfall}}</td>
        </tr>

      </tbody>
    </table>
</div>






    <center><div class="predict">
      <h2>Recommended Crop for your condition is:</h2>
      <h2>Blackgram</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1P7jPvZayNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div></center>
   <center><button type="button" class="btn btn-outline-dark btn-mine"   style="margin:20px" onclick="window.print()">Print</button>
    <button type="button" class="btn btn-outline-dark btn-mine" ><a href="/org">Organic</a></button>


   </center>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
